body{

    background-color: bisque;
    background-image: url('https://th.bing.com/th/id/OIP.OGqbubZZiXd26IXmrFEgsQHaEo?pid=ImgDet&rs=1');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;

}
td{
    background-color: azure;
    width:500px;
    height:0;
}
th{
    background-color: aliceblue;
    width:400px;
    height:50px;
}
.table{
    caption-side:top;
    position: relative;
    top: 80px;
    left: 50px;
    margin:auto;
}
.bt{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float:right;
  position: relative;
  bottom: -25px;
  right: 70px;
}
.fa{
    position: relative;
    left: 45px;
    top: 50px;
}

input{
    width: 160px;
    height:30px;
}
.bd{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: -220px;;
    left:890px;
    right:900px;
    width:100px;
    height:30px;
}
.buy{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    bottom:-120px;;
    left:300px;
}
.ds{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    bottom:-120px;;
    left:300px;
}